.containerNotas{
  margin: 4rem 8rem;
}

.inputNota{
  width: 3rem;
}

#inputAvaliacao{
  width: 10rem;
}
#botaoEnviaFalta{
  border-radius: 8px;
}
#form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cursos{

  width: 7rem;
	
}