.container{
	margin: 4rem 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
      }
#ra{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#ra select{
	width: 40rem;
}
#disciplina{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#disciplina select{
	width: 40rem;
}
#curso{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	
}
#curso select{
	width: 40rem;
}