.container{
	margin: 4rem 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
      }
      #codigo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#codigo input{
	width: 40rem;
}
#tipo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#tipo input{
	width: 40rem;
}
#peso{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
#peso input{
	width: 40rem;
}